#container{
  width:450px;
  margin:100px auto;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  background: #dddddd;
}
body{
  /* background: #4aacec; 
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #4aacec); 
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #4aacec);  */
  font-family: Roboto;
  background-image: url("https://images.unsplash.com/photo-1474533883693-59a44dbb964e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-repeat: no-repeat; /* Do not repeat the image */
}
h1{
  background:#4aacec;
  color:white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}
input{
  font-size: 18px;
  color:#4aacec;
  background-color: #dddddd;
  
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  border: 3px solid #dddddd;
  float: left;
}
input[type='text']{
  width: 60%;
}
input[type='time']{
  width: 40%;
}
input:focus{
  background: #ffffff;
  border: 3px solid #4aacec;
  outline: none;
}
ul{
  clear:left;
  list-style: none;
  margin: 0;
  padding: 0;
}
li{
  background: #ffffff;
  height: 40px;
  line-height: 40px;
  color:rgb(27, 27, 27);
}
li:nth-child(2n){
  background: #dddddd;
}
li:hover span{
  width: 40px;
  opacity: 1;
}
.deletIcon {
  background: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0px;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}
.time{
  float: right;
  margin:0 20px;
}
.completed{
  color:gray;
  text-decoration: line-through;
}
.fa-plus-square{
  float:right;
  padding:5px 0;
}
