.firstJum{
  margin-top:50px;
}
.jumbotron{
  color:#2c3e50;
  background:#ecf0f1;
}
.userIcon{
  margin:8px;
  font-size: 1.6rem;
}
.first-navbar-brand{
  width: 125px;
}
.imagesDescription{
  text-align: center;
}